body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

/* ---Logo and Navigation--- */

.logo {
    float: left;
    margin: 24px 0 0 30px;
}

.logo img {
    width: 48px;
}

#main-nav {
    float: right;
    margin: 30px 30px 0 0;
}

nav a {
    display: inline-block;
    margin-left: 24px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(1, 1, 1, 0.7);
    text-decoration: none;
}

#roster-nav {
    float: center;
    margin: 10px 10px 0 0;
}

nav a:hover {
    color: #000;
}

nav a.icon {
    display: none;
}

/* ---Parallax Images--- */

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
    opacity: 0.7;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.pimg1 {
    background-image: url(../img/background.jpg);
    min-height: 100%;
}

.pimg2 {
    background-image: url(../img/men_a_huddle.jpg);
    min-height: 400px;
}

.pimg3 {
    background-image: url(../img/women_a_cheer.jpg);
    min-height: 400px;
}

.pimg4 {
    background-image: url(../img/amy_throw.jpg);
    min-height: 400px;
}

.pimg5 {
    background-image: url(../img/brenden_joncas.jpg);
    min-height: 100%;
}

.ptext {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
    display: inline-block;
}

.ptext .border.trans{
    background-color:transparent;
    text-shadow: 0 0 10px #000;
}

/* ---Sections--- */

.section {
    padding: 50px 30px;
}

.section h1 {
    text-align: center;
}

.section-light {
    background-color: #f4f4f4;
    color: #666;
}

.section-roster {
    padding: 30px 30px;
    background-color: #f4f4f4;
    color: #666;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.section-dark strong {
    color: #fff;
}

.section-text {
    text-align: left;
    max-width: 900px;
    margin: auto;
}

.section a {
    color: #4499ff;
    text-decoration: none;
}

.section-roster a {
    display: inline-block;
    margin-left: 24px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(1, 1, 1, 0.7);
    text-decoration: none;
}

/* ---Special Formatting--- */

#roster-list {
    text-align: center;
    max-width: 900px;
    margin: auto;
}

.column {
    float: left;
    width: 50%;
    min-width: 100px;
    margin: auto
}

.row:after {
    /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}

#sponsor-list {
    margin: 0 auto;
    width: 900px;
    padding-left: 0;
    font-size: 0;
}

.company-logo {
    display: inline-block;
    font-size: 18px;
    list-style-type: none;
    width: 256px;
    line-height: 50px;
    margin: 16px 20px;
    box-sizing: border-box;
    text-align: center;
}

.company-logo img {
    width: 256px;
    transition: opacity .2s, visibility .2s;
    vertical-align: middle;
}

.company-logo img:hover {
    opacity: 0.7;
}

#social {
    text-align: center;
}

/* ---Font Awesome Icons--- */
div > .fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
	text-decoration: none;
	/* border-radius: 50%; */
    margin: 5px 2px;
	/* background: #444; */
	color: #fff;
}

div > .fa:hover {
    opacity: 0.7;
}

/* ---Different Screen Sizes--- */

@media screen and (max-width: 720px) {
    .pimg1, .pimg2, .pimg3, .pimg4 {
        background-attachment: scroll;
    }

    nav a {
        display: none;
    }

    nav a.icon {
        float: right;
        display: block;
    }

    nav.responsive {
        position: relative;
    }

    nav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    } 

    nav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (min-width: 721px) and (max-width: 1020px) {
    #sponsor-list {
        width: 600px;
    }
}

@media screen and (min-width: 421px) and (max-width: 720px) {
    #sponsor-list {
        width: 300px;
    }
}

@media screen and (max-width: 420px) {
    #sponsor-list {
        width: 100%;
    }

    .company-logo {
        width: 100%;
        padding: 16px 16px;
        margin: 0;
    }

    .company-logo img {
        width: 100%;
    }
}